:root {
    --pink-lightest: #f8d8e4;
    --pink-lighter: #ffc8dd;
    --pink-darker: #ffadc8;
    --pink-darkest: #ff91b9;
}

* {
    box-sizing: border-box;
    border: none;
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
    height: 100vh;
    justify-content: center;
    align-items: center;
    display: flex;
}

.wheel-container {
    display: grid;
    grid-template-columns: auto auto;
    animation: spin 1s linear infinite;
}

.wheel-container:hover {
    animation-play-state: paused;
}

.cart-container {
    width: 10vw;
    height: 10vw;
    margin: 5vw;
}

.one,
.two,
.three,
.four {
    border-radius: 99999px;
}

.one {
    background-color: var(--pink-lightest);
}

.two {
    background-color: var(--pink-lighter);
}

.three {
    background-color: var(--pink-darkest);
}

.four {
    background-color: var(--pink-darker);
}

@keyframes spin {
    0% {
        transform: rotateZ(0deg);
    }

    25% {
        transform: rotateZ(90deg);
    }

    50% {
        transform: rotateZ(180deg);
    }

    75% {
        transform: rotateZ(270deg);
    }

    100% {
        transform: rotateZ(360deg);
    }
}